.option {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 1rem;
  /* margin-bottom: 1rem; */
  cursor: pointer;
  opacity: 0.8;
  transition: 0.4s;
}

.option:hover {
  opacity: 1;
}

#options-container .option p {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.correct {
  background-color: #38C764;
  font-weight: bold;
  color: #FFFFFF;
}

.wrong {
  background-color: #FF583F;
  opacity: 0.8;
  color: #FFFFFF;
}

.select {
  /* background-color: #f0d041; */
  border: 5px solid #dfca15;
  opacity: 0.8;
  color: #ffffff;
}

.hide {
  display: none;
}
