#pai {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100%;
}

#pergunta {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  gap: 12px;
}

#imagem-pergunta {
  margin-bottom: 32px;
}

#number {
  background-color: #FFFFFF;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-weight: 700;
}

#question {
  background-color: #CFEAE5;
  border-radius: 1rem;
  padding: 16px;
  width: 500px;
}

#question h1 {
  margin-bottom: 16px;
}

#question h3 {
  font-weight: 700;
}

#question h6 {
  margin-bottom: 24px;
  font-weight: 200;
}

#question button {
  border: none;
  margin: 1rem;
  font-weight: 600;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  background: #38C764;
}

#quantidade-pergunta {
  margin-top: 16px;
  padding: 8px;
  border-radius: 8px; 
  background: #CFEAE5;
}


#options-container{
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto;
  grid-template-columns: auto auto;
}
