* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body,
html {
  min-height: 100vh;
  height: 100%;
  background-image: url("./img/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

img {
  max-width: 100%;
}

#root {
  height: 100%;
}
